IO_LOC  "data[3]" 57;
IO_PORT "data[3]" IO_TYPE=LVCMOS33;

IO_LOC  "data[2]" 56;
IO_PORT "data[2]" IO_TYPE=LVCMOS33;

IO_LOC  "data[1]" 55;
IO_PORT "data[1]" IO_TYPE=LVCMOS33;

IO_LOC  "data[0]" 54;
IO_PORT "data[0]" IO_TYPE=LVCMOS33;

IO_LOC  "in[6]" 27;
IO_PORT "in[6]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "in[5]" 26;
IO_PORT "in[5]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "in[4]" 25;
IO_PORT "in[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "in[3]" 39;
IO_PORT "in[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "in[2]" 36;
IO_PORT "in[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "in[1]" 37;
IO_PORT "in[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "in[0]" 38;
IO_PORT "in[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
